
  <div class="">

  <div class="action-bar">

    <!-- <ul class="list-group">
      <li *ngFor="let role of roles" class="list-group-item">{{ role.role }}</li>
    </ul> -->

    <div class="">
      <div class="col-md-4">
          <button (click)="viewAll()" class="btn btn-secondary" type="button">
            All
          </button>
      </div>
      <br>
      <!-- <span style="width: 20px;"></span> -->
      <div class="col-md-4">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            users <span *ngIf="items">({{ items.length }})</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a *ngFor="let user of items" class="dropdown-item" href="#"  (click)="history(user)">{{ user.name }}</a>
          </div>
        </div>
      </div>
      <br>
      <!-- <span style="width: 20px;"></span> -->
      <div class="col-md-4">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Roles
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a *ngFor="let role of roles" class="dropdown-item" href="#">{{ role.role }}</a>
          </div>
        </div>
      </div>
    </div>
    

    

      <!-- <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a *ngFor="let role of roles" class="dropdown-item" href="#">Ac{{ role.role }}tion</a>
          </div>
        </div> -->

    <!-- <ul>
      <li *ngFor="let role of roles">{{ role.role }}</li>
    </ul>
    <ul>
      <li>{{ currentLocation }}</li>
    </ul> -->
  </div>

  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">

    <div *ngIf="!mode">
      <agm-marker *ngFor="let user of items" 
      [latitude]="getLat(user)" 
      [longitude]="getLong(user)" 
      (markerClick)="clickedMarker(user.name)"
      [iconUrl]="icon">
  
        <agm-info-window>
            <strong>{{ user.name }}</strong>
            <br>
            <small>{{ user.mobile }}</small>
            <br>
            <small>{{ 'Helper' }}</small>
            <br>
            <button type="link" (click)="history(user)">
              History
            </button>
        </agm-info-window>
  
      </agm-marker>
    </div>

    <div *ngIf="mode">
        <agm-marker *ngFor="let location of user.locations; let i = index" 
        [latitude]="location.latitude" 
        [longitude]="location.longitude" 
        (markerClick)="clickedMarker(user.name)"
        [iconUrl]="icon"
        label="{{i + 1}}">
    
          <agm-info-window>
              <strong>{{ user.name }}</strong>
              <br>
              <small>{{ user.mobile }}</small>
              <br>
              <small>{{ 'Helper' }}</small>
              <br>
              <button type="link" (click)="history(user)">
                History
              </button>
          </agm-info-window>
    
        </agm-marker>
    </div>

  </agm-map>
</div>
